<img src="<%=@actor.image_url%>" alt="Foto">
<h1><%= @actor.name %></h1>
<% if @actor.alive == true%>
<h2>Fecha de Nacimiento: <%= @actor.birth_date%></h2>
<h3>Lugar de Nacimiento: <%= @actor.birth_place%></h3>
<%else%>
<h2>Fecha de Fallecimiento: <%= @actor.death_date%></h2>
<h3>Lugar de Fallecimiento: <%= @actor.death_place%></h3>
<%end%>
<p><%=@actor.bio%></p>
